body{
    margin: 0;
    padding: 0;
    color:white;
    background-image:url('imagens/background.jpg');
}
header{ 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 45px;
    width: 100%;
}
header nav{
    display: flex;
    justify-content: center;
}
header nav a{
    background-color: black;
    padding: 15px;
    font-size: 25px;
    border: 1px solid #777879;
    box-sizing: border-box;
    border-radius: 15px;
    text-decoration: none;
    border-right:3px solid #86929e;
    border-bottom: 4px solid #86929e;
    margin:10px; 
}

@media (max-width: 420px) {
    header nav {
      flex-direction: column; /* Altera para coluna quando a tela for pequena */
      align-items: center; /* Centraliza os links verticalmente */
    }
  }
footer{
    padding-top: 20px;
    padding-bottom: 30px;
}


.container-geral{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-esquerda{
    width: 40%; 
    margin-left: 1px;
    margin-top: 0.5%;
    border: 5px solid #747070;
    padding: 10px;
    word-wrap: break-word;
}
.container-direita{
    width: 40%; 
    margin-right: 15px;
    margin-top: 0.5%;
    border: 5px solid #747070;
    padding: 10px;
    word-wrap: break-word;
}

@media(max-width: 650px){
    .container-esquerda{
        width: 100%;
    }
    .container-direita{
        width: 100%;
        margin-right: 0px;
    }
}

.secao-esquerda h2 {
    border: 2px solid #333; 
    padding: 10px; 
    background-color:rgb(113, 117, 119);
}
.secao-esquerda h3{
    padding: 1px;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    display: inline;
}
.secao-direita{
    text-align: center;
}

.secao-direita h2{
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}
.secao-direita h3{
    padding: 1px;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    display: inline;
}
#caracteristicas{
    padding-top: 5px;
    padding-bottom: 15px;
}
#caracteristicas p{
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}
#nome{
    font-size: 20px;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 2px solid #86929e;
    display: inline-block;
    width: 100%; 
    box-sizing: border-box; 
}
.linha-separadora{
    width: 100%;
    height: 1px;
    background-color: #333;
}

#dominancia{
    width: 30%;
    height: 15px; /* Ajuste conforme necessário */
    background-color: #007bff; /* Cor de fundo da barra */
}

#influencia{
    width: 35%;
    height: 15px; /* Ajuste conforme necessário */
    background-color: #ff00aa; /* Cor de fundo da barra */
}

#estabilidade{
    width: 45%;
    height: 15px; /* Ajuste conforme necessário */
    background-color: #00ff22; /* Cor de fundo da barra */
}

#cautela{
    width: 40%;
    height: 15px; /* Ajuste conforme necessário */
    background-color: #ff0000; /* Cor de fundo da barra */
}

#Links{
    font-size: 20px;
}

#Links p a{
    color: #00ff22;
}